
  .profile {
    text-align: center;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px;

    width: 240px;
    height: 330px;

    background-color: #f0f0f0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

  }

  .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
    height: 77%;
    width: 100%;
  }

  .profilePicture{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-top: 5%;
  }

  .userName{
    margin-bottom:0;
    font-size: 16px;
    font-weight: bold ;
    margin-top: 5%;
  }

  .userTag{
    font-size: 13px;
    margin-top: 3%;
    margin-bottom: 0;
    color: rgb(162, 162, 162);

  }

  .userLocation{
    font-size: 13px;
    margin-top: 3%;
    margin-bottom: 5%;
    color: rgb(162, 162, 162);
  }

  .stats{
    display: flex;
    align-items: center;
    
    background-color:rgba(214, 214, 214);
    border: 1px solid rgba(182, 182, 182);

    height: 25%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 

    list-style-type: none;
  }

  .statsItems {
    display: flex;
    justify-content:center;
    flex-direction: column;
    gap: 5%;

    width: 33%;
    height: 100%;
    
    border-right: 1px solid rgb(182, 182, 182, 0.925);

  }
  .label{
    color: rgb(136, 136, 136);
    font-size: 12px;
  }
  .quantity{
    font-weight: bold;
    font-size: 14px;
  }

  .statsItems:last-child{
    border: none;
  }