
table{
    border-collapse: collapse;
    margin: 10px;
}
  
th,td {

    color: rgb(124, 124, 124);
    padding: 8px;
    text-align: center;
    font-weight: light;
    font-size: 14px;
    border: 1px solid rgb(157, 156, 156);
}
th{
    color: #ffffff;
    background-color: rgb(61, 226, 255);
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}